# For OpenCellID we need an API key
API_KEY='put your OpenCellID API key string here'


# MCCs to use. This is a comma-separated list of country codes to restrict the
# resulting database to. Use an empty string if you wish the entire world covered.

# MCC="228,232,262" # DACH (Switzerland, Austria, Germany)
MCC="310,311"       # USA


# Shall the resulting DB file be pushed to the device automatically (1), not at
# all (0), or do you wish to be prompted for that (2)?
AUTO_PUSH=1
