# For OpenCellID we need an API key
API_KEY='put your OpenCellID API key string here'


# MCCs to use. This is a comma-separated list of country codes to restrict the
# resulting database to. Use an empty string if you wish the entire world covered.

# MCC="228,232,262" # DACH (Switzerland, Austria, Germany)
MCC="310,311"       # USA
